<%= drilldown_nav :nav_html => { :class => 'left-icons' } do %>
  <% builder_site_nav_config.each do |name, data| %>
    <li>
      <%= link_to(
        data['label'],
        send(data['path'], current_site),
        :class => "icon-#{data['icon']}"
      ) %>
    </li>
  <% end %>
<% end %>
