<article class="user">
  <%= avatar(user, 64, "grey small") %>
  <%= content_tag(:h4, user.display_name) %>
  <div class="links">
    <%= link_to 'Edit', '#', :class => 'edit' %>
    <%= link_to 'Delete', '#', :class => 'delete' unless user == current_user %>
  </div>
</article>
