<article class="form-item">
  <%= content_tag(:h4, form_item.title, :class => 'title') %>
  <%= simple_format(form_item.description) unless form_item.description.blank? %>
  <div class="links">
    <%= link_to('Edit',  site_route([form_item], :edit), :class => 'edit') %>
    <%= link_to('Delete',  site_route([form_item], :show), 
      :method => :delete, :class => 'delete', :data => { 
        :confirm => 'Are you sure?' } ) %>
  </div>
</article>
