<%= builder_page_title(
  current_form_breadcrumbs,
  :class => 'breadcrumbs no-border'
) do %>
  <%= render :partial => 'tabs' %>
<% end %>

<section id="page-content" class="full-width">
  <%= render 'form' %>
</section>
