<%= builder_page_title(current_form_breadcrumbs, :class => 'breadcrumbs') do %>
  <%= content_tag(
    :div,
    link_to(
      'New Form',
      builder_route([site_forms], :new),
      :class => 'new'
    ),
    :class => 'new-buttons dropdown'
  ) if current_user.admin? %>
<% end %>

<section id="page-content" class="data-container">
  <% if site_forms.size > 0 %>
    <%= data_table(site_forms, 'item') %>
  <% else %>
    <%= missing_content("No forms yet. Why don't you create one?") %>
  <% end %>
</section>
