<div id="tk-modal">
  <div class="modal-container">
    <div class="modal">
      <a href="#" class="close"><i class="icon-close"></i></a>
      <div class="content"></div>
    </div>
  </div>
</div>
