<%= builder_page_title(
  site_settings_breadcrumbs,
  :class => 'breadcrumbs no-border'
) do %>
  <%= render :partial => 'builder/sites/tabs' %>
<% end %>

<section id="page-content">
  <%= render 'form' %>
</section>

<%= sidebar('builder/sites/sidebar') %>
