<% item = OpenStruct.new(list_item) %>

<li>
  <%= item.title %>
  <%= content_tag(
    :span,
    link_to(
      item.url,
      item.page_id.blank? ? item.url : viewer_page(item.url),
      :target => :blank
    )
  ) %>
  <%= content_tag(
    :ul,
    render(
      :partial => 'builder/menus/list_item',
      :collection => item.children
    )
  ) if item.children.size > 0 %>
</li>
