<nav class="page tabs">
  <ul>
    <% current_menu_tabs.each do |t| %>
      <%= content_tag(
        :li,
        link_to(
          t[:title],
          t[:path],
          :class => "#{t[:class]} #{tab_active?(t) ? 'active' : nil}"
        )
      ) %>
    <% end %>
  </ul>
</nav>
