<%= builder_page_title(
  current_template_breadcrumbs,
  :class => 'breadcrumbs'
) do %>
  <%= content_tag(
    :div,
    link_to(
      'New Template',
      builder_route([site_templates], :new),
      :class => 'new'
    ),
    :class => 'new-buttons dropdown'
  ) %>
<% end %>

<section id="page-content" class="data-container">
  <%= render :partial => 'filters' %>
  <%= data_table(@templates, 'template') %>
</section>
