/* Color Palette
============================ */
$color-1: $color-primary; // used most often by default
$color-2: $color-secondary;
$color-3: $color-grey;
$color-4: $color-grey;
$color-5: $color-dark;

/* Tones
============================ */
// color factors -- to increase tone
$color-factor-1: 5%;
$color-factor-2: 15%;
$color-factor-3: 25%;

/*
 * These tone calculations are performed automatically.
 * They provide you with a light, lighter, lightest, 
 * dark, darker, darkest variations of your palette.
 *
 * You don't need to change anything below, but can
 * if you'd like, or you can add new variations.
 */
$color-1-light:     lighten($color-1, $color-factor-1);
$color-1-lighter:   lighten($color-1, $color-factor-2);
$color-1-lightest:  lighten($color-1, $color-factor-3);
$color-1-dark:      darken($color-1, $color-factor-1);
$color-1-darker:    darken($color-1, $color-factor-2);
$color-1-darkest:   darken($color-1, $color-factor-3);

$color-2-light:     lighten($color-2, $color-factor-1);
$color-2-lighter:   lighten($color-2, $color-factor-2);
$color-2-lightest:  lighten($color-2, $color-factor-3);
$color-2-dark:      darken($color-2, $color-factor-1);
$color-2-darker:    darken($color-2, $color-factor-2);
$color-2-darkest:   darken($color-2, $color-factor-3);

$color-3-light:     lighten($color-3, $color-factor-1);
$color-3-lighter:   lighten($color-3, $color-factor-2);
$color-3-lightest:  lighten($color-3, $color-factor-3);
$color-3-dark:      darken($color-3, $color-factor-1);
$color-3-darker:    darken($color-3, $color-factor-2);
$color-3-darkest:   darken($color-3, $color-factor-3);

$color-4-light:     lighten($color-4, $color-factor-1);
$color-4-lighter:   lighten($color-4, $color-factor-2);
$color-4-lightest:  lighten($color-4, $color-factor-3);
$color-4-dark:      darken($color-4, $color-factor-1);
$color-4-darker:    darken($color-4, $color-factor-2);
$color-4-darkest:   darken($color-4, $color-factor-3);

$color-5-light:     lighten($color-5, $color-factor-1);
$color-5-lighter:   lighten($color-5, $color-factor-2);
$color-5-lightest:  lighten($color-5, $color-factor-3);
$color-5-dark:      darken($color-5, $color-factor-1);
$color-5-darker:    darken($color-5, $color-factor-2);
$color-5-darkest:   darken($color-5, $color-factor-3);
