<%= builder_page_title(
  current_resource_breadcrumbs,
  :class => 'breadcrumbs no-border'
) do %>
  <%= render :partial => 'builder/resources/tabs' %>
<% end %>

<section id="page-content" class="data-container">
  <%= render 'form' %>
</section>
