@mixin transition-all {
  @include transition(all 0.35s linear);
}

* {
  @include box-sizing(border-box);
  vertical-align: middle;
  @include transition-all;
}

@mixin top-left($position: absolute) {
  position: $position;
  top: 0;
  left: 0;
}

@mixin clear-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    a {
      margin: 0;
      padding: 0;
    }
  }
}
