nav.breadcrumbs {
  margin: 0 0 15px 0;
  ul {
    li {
      line-height: 14px;
      &:after {
        content: '>>';
        font-size: 14px;
        color: $color-light-darker;
      }
      &:first-child {
        a {
          margin-left: 0;
        }
      }
      &:last-child:after {
        content: none;
      }
      a {
        margin: 0 10px;
        padding: 0;
        font-size: 14px;
        color: $color-primary;
        border-bottom: none;
      }
    }
  }
}