p.notice, p.alert {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color-primary, 0.85);
  margin: 0;
  padding: 25px;
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 30px;
  z-index: 99999;
}

p.warning {
  color: $color-light;
  border-radius: 3px;
  em, strong, a {
    display: inline-block;
    margin-top: -3px;
    color: $color-light;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
  a {
    font-weight: 600;
  }
}

p.alert {
  background: rgba($color-danger, 0.85);
}

p.note {
  margin-top: 0;
}

p.subtitle {
  max-width: 600px;
  margin: 10px 0 10px 0;
  font-size: 15px;
  line-height: 20px;
  color: $color-dark-light;
  font-style: italic;
}

.avatar-container {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid $color-light;
  &.grey {
    border-color: $color-light-darkest;
  }
  &.small {
    width: 32px;
    height: 32px;
  }
  img {
    width: 100%;
    background: $color-light;
  }
}

a {
  &.new, &.edit, &.back, &.delete, &.dont-delete, &.published, &.draft, &.crop,
  &.download, &.code, &.database, &.link, &.build, &.preview, &.publish,
  &.unpublish, &.template, &.all, &.help, &.pages, &.maxed-out, &.not-maxed,
  &.unlimited, &.form, &.data-trigger, &.reorder, &.protected, &.unprotected,
  &.hidden, &.hide, &.visible, &.show, &.half-width {
    &:before {
      font-family: 'Icomoon-Ultimate';
      font-size: 10px;
      margin-right: 5px;
    }
    &.published, &.unlimited {
      color: $color-primary;
    }
    &.not-maxed, &.protected  {
      color: $color-warning;
    }
    &.draft, &.maxed-out {
      color: $color-danger;
    }
  }
  &.dropdown-trigger {
    &:after {
      font-family: 'Icomoon-Ultimate';
      font-size: 10px;
      margin-left: 5px;
    }
  }
  &.new:before { content: "\e35e"; }
  &.edit:before { content: "\e00f"; }
  &.back:before { content: "\e3b3"; }
  &.delete:before { content: "\e24f"; }
  &.dont-delete:before { content: "\e13b"; }
  &.published:before { content: "\e367"; }
  &.draft:before { content: "\e357"; }
  &.crop:before { content: "\e43c"; }
  &.download:before { content: "\e132"; }
  &.code:before { content: "\e480"; }
  &.database:before { content: "\e13a"; }
  &.link:before { content: "\e2c9"; }
  &.build:before { content: "\e1e8"; }
  &.preview:before { content: "\e2d9"; }
  &.publish:before, &.not-maxed:before { content: "\e367"; }
  &.unpublish:before, &.maxed-out:before { content: "\e357"; }
  &.unlimited:before { content: "\e439"; }
  &.template:before { content: "\e097"; }
  &.all:before { content: "\e0f9"; }
  &.help:before { content: "\e359"; }
  &.pages:before { content: "\e079"; }
  &.form:before { content: "\e013"; }
  &.reorder:before { content: "\e425"; }
  &.data-trigger:before { content: "\e3b2"; }
  &.protected:before { content: "\e1d0"; }
  &.unprotected:before { content: "\e1d4"; }
  &.hidden:before { content: "\e2da"; }
  &.hide:before { content: "\e2da"; }
  &.visible:before { content: "\e2d9"; }
  &.show:before { content: "\e2d9"; }
  &.half-width:before { content: "\e43f"; }
  &.dropdown-trigger:after { content: "\e3b2"; }

  &.button {
    @include rounded-button($color-primary, $color-primary-lighter);
    margin: 5px 0 10px 0;
    &.markdown, &.wysiwyg {
      margin: 10px 10px 5px 0;
      background: transparent;
      border: 1px solid $color-1;
      color: $color-1;
    }
  }
  &.button-color-2 {
    @include rounded-button($color-2, $color-2-lighter);
  }
}


.ajax-page {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  overflow-y: scroll;
  background: white;
  @include transition(top 0.25s ease-in-out);
  &.active {
    top: 0;
  }

  header {
    width: 100%;
    background: $color-primary;
    h1 {
      margin: 0;
      padding: 10px;
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: white;
    }
    a.close {
      position: absolute;
      top: 13px;
      right: 13px;
      z-index: 9999;
      i {
        color: white;
        font-size: 24px;
      }
    }
  }
  .ajax-page-content {
    padding: 25px;
  }
}

ul.tabs, ul.list-tabs {
  @include clear-list;
  display: inline-block;
  margin: 10px 0 15px 0;
  border-radius: 3px;
  border: 1px solid $color-light-darker;
  overflow: hidden;
  li {
    display: inline-block;
    &:last-child a {
      border: none;
    }
    a {
      display: inline-block;
      padding: 7.5px 15px;
      border-right: 1px solid $color-light-darker;
      color: $color-grey;
      &.active {
        background: $color-primary;
        color: $color-light;
      }
      &:hover {
        background: $color-light-dark;
        &.active {
          background: $color-primary;
        }
        &.to-delete {
          background: $color-danger;
        }
      }
      &.to-delete {
        color: $color-light;
        background: $color-danger;
      }
    }
  }
}

span.page-status {
  display: inline-block;
  margin: 5px 0 0 0;
  &.draft {
    span {
      color: $color-danger;
    }
    i {
      color: $color-danger;
    }
  }
  span {
    color: $color-success;
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
  }
  i {
    display: inline-block;
    margin-top: 2px;
    color: $color-success;
    font-size: 11px;
    margin-right: 3px;
  }
}

div.dropdown {
  position: relative;
  > a {
    @include button;
    @include rounded-button;
    margin: 0;
    &:focus {
      background: $color-primary;
    }
    &:hover, &.active {
      background: $color-primary-dark;
    }
  }
  ul {
    display: none;
    position: absolute;
    min-width: 100%;
    @include clear-list;
    background: $color-light;
    border: 1px solid $color-grey-lightest;
    border-radius: 3px;
    box-shadow: 0px 0px 3px $color-light-darkest;
    z-index: 999;
    &.active {
      display: block;
    }
    li {
      text-align: left;
      overflow: hidden;
      a {
        display: block;
        font-size: 14px;
        padding: 5px 15px;
        color: $color-grey-dark;
        &:hover {
          color: $color-grey-dark;
          background: $color-light-dark;
        }
      }
    }
  }
}

.missing-content {
  text-align: center;
  font-size: 20px;
  color: $color-grey;
  font-weight: 400;
  font-style: italic;
}

nav.tabs {
  margin: 10px 0 0 0;
  padding: 0;
  ul {
    @include clear-list;
    display: block;
    width: 100%;
    border-bottom: 1px solid $color-grey-lighter;
    li {
      a {
        margin: 0 5px -1px 5px;
        padding: 10px 10px;
        font-size: 16px;
        font-weight: 200;
        line-height: 16px;
        border: 1px solid $color-grey-lighter;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        color: $color-grey-dark;
        z-index: -9;
        &:before {
          font-size: 12px;
        }
        &:hover {
          color: $color-grey-dark;
          background: $color-light-dark;
        }
        &.active {
          z-index: 9;
          border-bottom-color: white;
          color: $color-dark;
          background: transparent;
          font-weight: 600;
        }
      }
    }
  }
}
