p.notice, p.alert {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color-primary, 0.85);
  margin: 0;
  padding: 25px;
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 30px;
  z-index: 99999;
}

p.alert {
  background: rgba($color-danger, 0.85);
}

.avatar-container {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid $color-light;
  &.grey {
    border-color: $color-light-darkest;
  }
  &.small {
    width: 32px;
    height: 32px;
  }
  img {
    width: 100%;
    background: $color-light;
  }
}

a {
  &.new, &.edit, &.back, &.delete, &.dont-delete, &.published, &.draft, &.crop, 
  &.download, &.code, &.database, &.link {
    &:before {
      font-family: 'Icomoon-Ultimate';
      font-size: 10px;
      margin-right: 5px;
    }
    &.published { color: $color-primary; }
    &.draft { color: $color-danger; }
  }
  &.new:before { content: "\e35e"; }
  &.edit:before { content: "\e00f"; }
  &.back:before { content: "\e3b3"; }
  &.delete:before { content: "\e24f"; }
  &.dont-delete:before { content: "\e13b"; }
  &.published:before { content: "\e367"; }
  &.draft:before { content: "\e365"; }
  &.crop:before { content: "\e43c"; }
  &.download:before { content: "\e132"; }
  &.code:before { content: "\e480"; }
  &.database:before { content: "\e138"; }
  &.link:before { content: "\e2c9"; }

  &.button {
    @include rounded-button($color-primary, $color-primary-lighter);
    margin: 5px 0 10px 0;
    &.markdown, &.wysiwyg {
      margin: 10px 10px 5px 0;
      background: transparent;
      border: 1px solid $color-1;
      color: $color-1;
    }
  }
  &.button-color-2 {
    @include rounded-button($color-2, $color-2-lighter);
  }
}


.ajax-page {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  overflow-y: scroll;
  background: white;
  @include transition(top 0.25s ease-in-out);
  &.active {
    top: 0;
  }

  header {
    width: 100%;
    background: $color-primary;
    h1 {
      margin: 0;
      padding: 10px;
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: white;
    }
    a.close {
      position: absolute;
      top: 13px;
      right: 13px;
      z-index: 9999;
      i {
        color: white;
        font-size: 24px;
      }
    }
  }
  .ajax-page-content {
    padding: 25px;
  }
}