#content {

  #page-content {
    ul.menu-tree {
      margin: 0;
      padding: 0;
      li {
        display: block;
        margin: 15px 0;
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        color: $color-dark-lightest;
        vertical-align: top;
        &:before {
          display: inline-block;
          margin-right: 5px;
          font-family: 'Icomoon-Ultimate';
          font-size: 10px;
          line-height: 16px;
          content: "\e375";
        }
        span {
          display: inline-block;
          font-size: 14px;
          line-height: 16px;
          font-weight: 200;
          vertical-align: top;
          a {
            display: inline-block;
            margin-left: 5px;
            font-size: 14px;
            line-height: 16px;
            font-weight: 200;
            vertical-align: top;
            color: $color-1;
          }
        }
        ul {
          margin: 0;
          padding: 0;
          margin-left: 30px;
          li {
            margin: 15px 0;
            font-size: 16px;
            line-height: 16px;
            font-weight: 600;
            color: $color-dark-lightest;
            span {
              display: inline-block;
              font-size: 14px;
              line-height: 16px;
              font-weight: 200;
              vertical-align: top;
              a {
                display: inline-block;
                margin-left: 5px;
                font-size: 14px;
                line-height: 16px;
                font-weight: 200;
                vertical-align: top;
                color: $color-1;
              }
            }
          }
        }
      }
    }
  }

  .current-page-header {
    margin: 15px 0;
    padding: 15px 0;
    border-bottom: 1px solid $color-light-darkest;
    h1 {
      margin: 0;
      font-size: 36px;
      line-height: 36px;
      font-weight: 200;
      color: $color-dark-lightest;
      span {
        margin-left: 15px;
        vertical-align: bottom;
        font-size: 16px;
        line-height: 18px;
        color: inherit;
      }
    }
    .attributes {
      margin: 25px 0 0 0;
      a {
        display: inline-block;
        margin: 0 10px 0 0;
        padding: 7px;
        font-size: 13px;
        line-height: 13px;
        border-radius: 3px;
        color: $color-light;
        span {
          color: inherit;
          font-size: inherit;
          line-height: inherit;
          &.label {
            font-weight: 400;
          }
          &:last-child {
            margin-left: 5px;
          }
        }
        &:before {
          display: inline-block;
          margin-top: 1px;
          vertical-align: top;
        }
        &.published {
          background: $color-success;
        }
        &.draft {
          background: $color-danger;
        }
        &.template {
          background: $color-secondary;
        }
        &.menu {
          background: $color-dark;
        }
      }
    }
  }

  @import 'builder/partials/data_tables';

  section.data-table {
    margin: 0;
    article {
      position: relative;
      padding: 20px 15px;
      text-align: left;
      border-bottom: 1px solid $color-light-darker;
      color: $color-grey;
      &.template-group {
        padding: 10px 0 0 0;
        h3 {
          margin: 10px 15px;
          font-size: 24px;
          font-weight: 200;
          color: $color-light-darkest;
        }
        article.field {
          padding: 0;
          border-bottom: none;
          @include transition-all;
          &:hover {
            background: $color-light-dark;
            h4 {
              color: $color-1;
            }
            a:after {
              color: $color-1;
            }
          }
          > a {
            padding: 10px 15px;
            &:after {
              font-size: 20px;
            }
          }
          h4 {
            margin: 0;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            color: $color-dark-lighter;
            @include transition-all;
          }
        }
      }
      &.form-submission {
        .date {
          display: block;
          float: none;
          clear: none;
          margin: 5px 0 0 0;
        }
      }
      h4 {
        // margin: 10px 0 0 0;
        font-size: 22px;
        font-weight: 400;
        // color: $color-grey;
        a {
          margin: 10px 0 0 0;
          font-size: 22px;
          font-weight: 400;
        }
      }
      > p {
        font-size: 15px;
        margin: 10px 0 0 0;
      }
      .links {
        position: absolute;
        top: 15px;
        right: 15px;
        text-align: right;
        a {
          display: inline-block;
          margin-left: 10px;
          font-size: 13px;
          color: $color-grey;
        }
        div {
          display: block;
          margin: 10px 0 0 0;
          font-size: 14px;
          color: $color-grey;
        }
      }
      .published, .draft {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  section.form-submission {

    dl {
      dt {
        display: block;
        margin: 20px 0 5px 0;
        font-size: 14px;
        font-weight: 400;
        color: $color-primary;
        text-transform: uppercase;
        &:first-child {
          margin: 0;
        }
      }
      dd {
        margin: 0;
      }
    }
  }

  nav.pagination {
    text-align: right;
    margin: 10px 0;
    span {
      margin: 0 3px;
      font-size: 14px;
      font-weight: 400;
      vertical-align: top;
      a {
        font-size: 14px;
        font-weight: 400;
        vertical-align: top;
      }
    }
  }

  section.developer-help {
    h2 {
      margin: 20px 0 10px 0;
      font-size: 24px;
      font-weight: 400;
      // color: $color-dark-lightest;
    }
    h3.code {
      margin: 25px 0 15px 0;
      font-size: 16px;
      line-height: 16px;
      > code {
        font-size: 16px;
        line-height: 16px;
        padding: 0;
        border: none;
        font-weight: 600;
      }
    }
    ul li, p {
      font-size: 15px;
      line-height: 24px;
      vertical-align: top;
      code {
        font-size: inherit;
      }
      em, strong, a {
        display: inline-block;
        margin-top: -2.75px;
      }
    }
    ul li {
      margin: 5px 0 0 0;
    }
    pre {
      display: block;
      max-width: 600px;
      padding: 15px;
      background: $color-light-dark;
      border: 1px solid $color-light-darker;
      white-space: pre-wrap;
    }
  }
}
