#content {

  .page-title {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $color-grey-lighter;
    &.breadcrumbs {
      h1 {
        margin: 0 0 15px 0;
        font-size: 28px;
        line-height: 32px;
      }
    }
    &.no-border {
      border-bottom: none;
    }
    h1 {
      display: inline-block;
      margin: 0;
      font-weight: 200;
      color: $color-grey;
      > a {
        font-size: inherit;
        line-height: inherit;
        font-weight: 400;
      }
      a + span {
        margin: 0 7px;
        font-size: inherit;
        color: $color-grey-lightest;
      }
    }
    > a {
      float: right;
      margin: 35px 0 0 15px;
      text-align: right;
      vertical-align: bottom;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      @include transition-all;
    }
    div.page-search-container {
      float: right;
      form {
        display: block;
        width: auto;
        margin: 0;
        div.input {
          margin: 0;
          input {
            width: 150px;
            margin: 0;
            padding: 9px 10px;
            @include transition(width 0.25s ease-in-out);
            &:focus {
              width: 300px;
            }
          }
        }
      }
    }
    div.new-buttons {
      float: right;
      text-align: right;
    }
    .new-buttons + .page-search-container {
      margin-right: 15px;
    }
    .page-status {
      i {
        font-size: 13px;
      }
      span {
        font-size: 15px;
      }
    }
  }

  @import 'builder/partials/data_tables';

  section.data-table {
    margin: 0;
    article {
      position: relative;
      padding: 20px 15px;
      text-align: left;
      border-bottom: 1px solid $color-light-darker;
      color: $color-grey;
      &.template-group {
        padding: 10px 0 0 0;
        h3 {
          margin: 10px 15px;
          font-size: 24px;
          font-weight: 200;
          color: $color-light-darkest;
        }
        article.field {
          padding: 0;
          border-bottom: none;
          @include transition-all;
          &:hover {
            background: $color-light-dark;
            h4 {
              color: $color-1;
            }
            a:after {
              color: $color-1;
            }
          }
          > a {
            padding: 10px 15px;
            &:after {
              font-size: 20px;
            }
          }
          h4 {
            margin: 0;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            color: $color-dark-lighter;
            @include transition-all;
          }
        }
      }
      &.form-submission {
        .date {
          display: block;
          float: none;
          clear: none;
          margin: 5px 0 0 0;
        }
      }
      h4 {
        // margin: 10px 0 0 0;
        font-size: 22px;
        font-weight: 400;
        // color: $color-grey;
        a {
          margin: 10px 0 0 0;
          font-size: 22px;
          font-weight: 400;
        }
      }
      > p {
        font-size: 15px;
        margin: 10px 0 0 0;
      }
      .links {
        position: absolute;
        top: 15px;
        right: 15px;
        text-align: right;
        a {
          display: inline-block;
          margin-left: 10px;
          font-size: 13px;
          color: $color-grey;
        }
        div {
          display: block;
          margin: 10px 0 0 0;
          font-size: 14px;
          color: $color-grey;
        }
      }
      .published, .draft {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  section.form-submission {

    dl {
      dt {
        display: block;
        margin: 20px 0 5px 0;
        font-size: 14px;
        font-weight: 400;
        color: $color-primary;
        text-transform: uppercase;
        &:first-child {
          margin: 0;
        }
      }
      dd {
        margin: 0;
      }
    }
  }

  nav.pagination {
    text-align: right;
    margin: 10px 0;
    span {
      margin: 0 3px;
      font-size: 14px;
      font-weight: 400;
      vertical-align: top;
      a {
        font-size: 14px;
        font-weight: 400;
        vertical-align: top;
      }
    }
  }

  section.developer-help {
    h2 {
      margin: 20px 0 10px 0;
      font-size: 24px;
      font-weight: 400;
      // color: $color-dark-lightest;
    }
    h3.code {
      margin: 25px 0 15px 0;
      font-size: 16px;
      line-height: 16px;
      > code {
        font-size: 16px;
        line-height: 16px;
        padding: 0;
        border: none;
        font-weight: 600;
      }
    }
    ul li, p {
      font-size: 15px;
      line-height: 24px;
      vertical-align: top;
      code {
        font-size: inherit;
      }
      em, strong, a {
        display: inline-block;
        margin-top: -2.75px;
      }
    }
    ul li {
      margin: 5px 0 0 0;
    }
    pre {
      display: block;
      max-width: 600px;
      padding: 15px;
      background: $color-light-dark;
      border: 1px solid $color-light-darker;
      white-space: pre-wrap;
    }
  }
}
