#content {

  > .page-title {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $color-light-darker;
    h1 {
      display: inline-block;
      margin: 0;
      font-weight: 200;
      color: $color-5;
    }
    > a {
      float: right;
      margin: 35px 0 0 15px;
      text-align: right;
      vertical-align: bottom;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      @include transition-all;
    }
  }

  section.data-table {
    margin: 25px 0 0 0;
    article {
      position: relative;
      padding: 20px 15px;
      text-align: left;
      border-bottom: 1px solid $color-light-darker;
      color: $color-5;
      &.user {
        .admin {
          margin-left: 44px;
          i, span {
            color: $color-1;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
          }
        }
        .avatar-container {
          margin-right: 10px;
        }
        h4 {
          display: inline-block;
          font-size: 18px;
          margin: 8px 0 10px 0;
        }
      }
      h4 {
        margin: 10px 0 0 0;
        font-size: 22px;
        font-weight: 400;
        color: $color-5;
        a {
          margin: 10px 0 0 0;
          font-size: 22px;
          font-weight: 400;
        }
      }
      > p {
        font-size: 15px;
        margin: 10px 0 0 0;
      }
      .links {
        position: absolute;
        top: 15px;
        right: 15px;
        a {
          margin-left: 7.5px;
          font-size: 14px;
        }
      }
      .date {
        float: right;
        clear: right;
        margin: 12px 0 0 0;
        color: $color-5;
        font-size: 14px;
      }
      .delete {
        float: right;
        margin: 0;
        font-size: 13px;
        color: $color-5;
      }
      .published, .draft {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}
