#content {

  .page-title {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $color-light-darker;
    h1 {
      display: inline-block;
      margin: 0;
      font-weight: 200;
      color: $color-grey;
    }
    > a {
      float: right;
      margin: 35px 0 0 15px;
      text-align: right;
      vertical-align: bottom;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      @include transition-all;
    }
  }

  section.data-table {
    margin: 0;
    article {
      position: relative;
      padding: 20px 15px;
      text-align: left;
      border-bottom: 1px solid $color-light-darker;
      color: $color-grey;
      &.arrow {
        padding: 0;
        @include transition-all;
        &:hover {
          background: $color-light-dark;
          > a:after {
            color: $color-1;
            right: 10px;
          }
          h4 {
            color: $color-1;
          }
        }
        > a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 15px 15px;
          &:after {
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -10px;
            @include transition-all;
            font-family: 'Icomoon-Ultimate';
            font-size: 36px;
            color: $color-light-dark;
            content: "\e411";
          }
          h4 {
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            color: $color-dark-lighter;
            @include transition-all;
          }
          p {
            max-width: 90%;
            margin: 5px 0 0 0;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
      &.template-group {
        padding: 10px 0 0 0;
        h3 {
          margin: 10px 15px;
          font-size: 24px;
          font-weight: 200;
          color: $color-light-darkest;
        }
        article.field {
          padding: 0;
          border-bottom: none;
          @include transition-all;
          &:hover {
            background: $color-light-dark;
            h4 {
              color: $color-1;
            }
            a:after {
              color: $color-1;
            }
          }
          > a {
            padding: 10px 15px;
            &:after {
              font-size: 20px;
            }
          }
          h4 {
            margin: 0;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            color: $color-dark-lighter;
            @include transition-all;
          }
        }
      }
      &.user {
        .admin {
          margin-left: 44px;
          i, span {
            color: $color-primary;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
          }
        }
        .avatar-container {
          margin-right: 10px;
        }
        h4 {
          display: inline-block;
          font-size: 18px;
          margin: 8px 0 10px 0;
        }
      }
      &.form-submission {
        .date {
          display: block;
          float: none;
          clear: none;
          margin: 5px 0 0 0;
        }
      }
      h4 {
        // margin: 10px 0 0 0;
        font-size: 22px;
        font-weight: 400;
        // color: $color-grey;
        a {
          margin: 10px 0 0 0;
          font-size: 22px;
          font-weight: 400;
        }
      }
      > p {
        font-size: 15px;
        margin: 10px 0 0 0;
      }
      .links {
        position: absolute;
        top: 15px;
        right: 15px;
        text-align: right;
        a {
          display: inline-block;
          margin-left: 10px;
          font-size: 13px;
          color: $color-grey;
        }
        div {
          display: block;
          margin: 10px 0 0 0;
          font-size: 14px;
          color: $color-grey;
        }
      }
      .published, .draft {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  section.form-submission {

    dl {
      dt {
        display: block;
        margin: 20px 0 5px 0;
        font-size: 14px;
        font-weight: 400;
        color: $color-primary;
        text-transform: uppercase;
        &:first-child {
          margin: 0;
        }
      }
      dd {
        margin: 0;
      }
    }
  }

  nav.pagination {
    text-align: right;
    margin: 10px 0;
    span {
      margin: 0 3px;
      font-size: 14px;
      font-weight: 400;
      vertical-align: top;
      a {
        font-size: 14px;
        font-weight: 400;
        vertical-align: top;
      }
    }
  }

  section.developer-help {
    h2 {
      margin: 20px 0 10px 0;
      font-size: 24px;
      font-weight: 400;
      // color: $color-dark-lightest;
    }
    h3.code {
      margin: 25px 0 15px 0;
      font-size: 16px;
      line-height: 16px;
      > code {
        font-size: 16px;
        line-height: 16px;
        padding: 0;
        border: none;
        font-weight: 600;
      }
    }
    ul li, p {
      font-size: 15px;
      line-height: 24px;
      vertical-align: top;
      code {
        font-size: inherit;
      }
      em, strong {
        display: inline-block;
        margin-top: -2.75px;
      }
    }
    ul li {
      margin: 5px 0 0 0;
    }
    pre {
      display: block;
      padding: 15px;
      background: $color-light-dark;
      border: 1px solid $color-light-darker;
      white-space: pre-wrap;
    }
  }
}
