> #page-content.data-container {
  section.data-table {
    border: 1px solid $color-grey-lighter;
    article.page, article.template {
      position: relative;
      min-height: 72px;
      padding: 10px 10px;
      border-bottom-color: $color-grey-lighter;
      &:last-child {
        border-bottom: none;
      }
      &:hover, &:focus {
        background: $color-light-dark;
        div.actions {
          display: block;
        }
      }
      .status {
        display: inline-block;
        width: 40px;
        height: 100%;
        vertical-align: top;
        a {
          font-size: 18px;
          &:before {
            margin-right: 0;
            font-size: 18px;
          }
        }
      }
      > div {
        display: inline-block;
        vertical-align: top;
        &.data {
          > div {
            display: block;
            &.top {
              .title {
                display: inline-block;
                font-size: 18px;
                font-weight: 600;
                margin: 0;
                color: $color-dark-lighter;
              }
              .path, .filename {
                display: inline-block;
                margin: 2px 0 0 10px;
                font-size: 14px;
                font-weight: 200;
                color: $color-grey-light;
                a {
                  font-size: inherit;
                  font-weight: inherit;
                  color: inherit;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
            &.bottom {
              margin: 8px 0 0 0;
              .last-edited {
                display: inline-block;
                margin: 0;
                font-size: 14px;
                color: $color-grey-dark;
                line-height: 14px;
                > span {
                  display: inline-block;
                  margin: -2.5px 0 0 0;
                  font-size: inherit;
                  line-height: inherit;
                  color: inherit;
                  font-weight: 400;
                }
              }
              .description {
                max-width: 500px;
                font-size: 14px;
                line-height: 20px;
                margin: 0;
                font-style: italic;
                & + p {
                  margin-top: 15px;
                }
              }
              .template {
                display: inline-block;
                margin-left: 10px;
                padding: 3px 5px;
                font-size: 11px;
                border-radius: 3px;
                color: $color-light;
                background: $color-primary;
              }
            }
          }
        }
        &.actions {
          display: none;
          position: absolute;
          top: 7px;
          right: 7px;
          > div {
            display: block;
            text-align: right;
            &.bottom {
              margin: 7px 0 0 0;
            }
          }
          a {
            @include rounded-button;
            display: inline-block;
            margin: 0 0 0 3px;
            padding: 3px 10px;
            font-size: 13px;
            color: $color-grey-darker;
            background: white;
            border: 1px solid $color-grey-darker;
            &:hover {
              color: $color-grey-darker;
              background: $color-light-dark;
              border: 1px solid $color-grey-darker;
            }
            &.delete, &.unpublish {
              color: $color-danger;
              border-color: $color-danger;
            }
          }
        }
      }
    }
  }
}
