.data-container {
  margin: 0 0 25px 0;

  & > header {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 15px 15px;
    background: $color-light-dark;
    border: 1px solid $color-grey-lighter;
    &:hover {
      cursor: move;
      cursor: -webkit-grab;
    }
    &:active {
      cursor: move;
      cursor: -webkit-grabbing;
    }
    & + section.data-table {
      border-top: none;
    }
    form.hidden {
      display: none;
    }
    .title {
      margin: 0;
      padding: 0;
      font-size: 26px;
      line-height: 26px;
      font-weight: 400;
      color: $color-grey;
      a {
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
        &.active:before {
          content: "\e3b0";
        }
        &:before {
          display: inline-block;
          margin: 0 7.5px 5px 0;
          font-size: 18px;
          line-height: inherit;
        }
        &:focus {
          border: none;
          outline: none;
        }
      }
      form {
        display: none;
        margin: 0;
        &.active {
          display: inline-block;
        }
        div.input {
          width: 300px;
          margin: 0;
          input {
            width: 100%;
            margin: 0;
          }
        }
        input[type=submit] {
          display: inline-block;
          margin: 0 0 0 5px;
          padding: 0.7em 1em;
        }
      }
    }
    .actions {
      position: absolute;
      top: 20px;
      right: 15px;
      a {
        display: inline-block;
        margin: 0 0 10px 10px;
        color: $color-dark-lighter;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
      }
    }
  }

  &.default-hidden {
    section.data-table {
      display: none;
      &.active {
        display: block;
      }
    }
  }

  section.data-table {
    border: 1px solid $color-grey-lighter;
    article.page, article.template, article.form-field, article.user,
    article.form, article.form-submission, article.resource-type,
    article.resource-field {
      position: relative;
      min-height: 72px;
      padding: 10px 10px;
      border-bottom-color: $color-grey-lighter;
      &:last-child {
        border-bottom: none;
      }
      &:hover, &:focus {
        background: $color-light-dark;
        div.actions {
          display: block;
        }
      }
      &.sortable-dragging {
        background: transparent;
        border-bottom: none;
        div.actions {
          display: none;
        }
      }
      &.empty {
        height: 5px;
        min-height: 0;
        padding: 0;
        // background: $color-grey-lightest;
        background: transparent;
        border: none;
      }

      // ------------------------ Extra styles for sortable lists

      &.form-field, &.resource-field {
        &:hover {
          cursor: move;
          cursor: -webkit-grab;
        }
        &:active {
          cursor: move;
          cursor: -webkit-grabbing;
        }
        > span.status a.unprotected {
          color: $color-grey;
        }
        form.field-position {
          display: none;
        }
      }

      .status {
        display: inline-block;
        width: 40px;
        height: 100%;
        vertical-align: top;
        &.avatar {
          margin-right: 10px;
        }
        a {
          font-size: 18px;
          &:before {
            margin-right: 0;
            font-size: 18px;
          }
          &.admin {
            color: $color-dark-lightest;
          }
        }
        .avatar-container {
          width: 40px;
          height: 40px;
          border-radius: 5px;
          overflow: visible;
          img {
            border-radius: 3px;
          }
        }
      }
      > div {
        display: inline-block;
        vertical-align: top;
        &.data {
          > div {
            display: block;
            &.top {
              .title {
                display: inline-block;
                font-size: 18px;
                font-weight: 600;
                margin: 0;
                color: $color-dark-lighter;
              }
              .path, .filename, .slug, .method-name {
                display: inline-block;
                margin: 2px 0 0 5px;
                font-size: 14px;
                font-weight: 200;
                color: $color-grey-light;
                a {
                  font-size: inherit;
                  font-weight: inherit;
                  color: inherit;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
            &.bottom {
              margin: 8px 0 0 0;
              .last-edited {
                display: inline-block;
                margin: 0;
                font-size: 14px;
                color: $color-grey-dark;
                line-height: 14px;
                > span {
                  display: inline-block;
                  margin: -2.5px 0 0 0;
                  font-size: inherit;
                  line-height: inherit;
                  color: inherit;
                  font-weight: 400;
                }
              }
              .description {
                max-width: 500px;
                font-size: 14px;
                line-height: 20px;
                margin: 0;
                font-style: italic;
                & + p {
                  margin-top: 15px;
                }
              }
              a {
                display: inline-block;
                margin-left: 10px;
                padding: 3px 5px;
                font-size: 11px;
                line-height: 11px;
                border-radius: 3px;
                color: $color-light;
                background: $color-primary;
                &.hidden {
                  margin-left: 5px;
                  background: $color-warning;
                }
                &.required {
                  margin-left: 5px;
                }
                &.database, &.half-width {
                  margin-left: 5px;
                  font-weight: 400;
                  background: $color-light-darker;
                  color: $color-dark-lighter;
                }
              }
            }
          }
        }
        &.actions {
          display: none;
          position: absolute;
          top: 7px;
          right: 7px;
          > div {
            display: block;
            text-align: right;
            &.bottom {
              margin: 7px 0 0 0;
            }
          }
          a {
            @include rounded-button;
            display: inline-block;
            margin: 0 0 0 3px;
            padding: 3px 10px;
            font-size: 13px;
            color: $color-grey-darker;
            background: white;
            border: 1px solid $color-grey-darker;
            &:hover, &:focus {
              color: $color-grey-darker;
              background: $color-light-dark;
              border: 1px solid $color-grey-darker;
            }
            &.delete, &.unpublish {
              color: $color-danger;
              border-color: $color-danger;
            }
          }
        }
      }
    }
  }
}

.sortable-placeholder {
  height: 72px;
  background: rgba($color-primary, 0.25);
}
