div.filters {
  display: block;
  margin: 0 0 10px 0;
  div.floating {
    display: inline-block;
    a {
      @include rounded-button;
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 7px 10px;
      font-weight: 400;
      border: none;
      color: $color-dark;
      background: transparent;
      &:hover, &:focus {
        color: $color-dark;
        background: $color-light-dark;
      }
      &.active {
        color: $color-light;
        background: $color-primary;
      }
    }
  }
  div.dropdowns {
    float: right;
    div.dropdown {
      > a {
        padding: 7px 10px;
        font-weight: 400;
        border: 1px solid $color-grey-lighter;
        color: $color-grey-light;
        background: $color-light;
        strong {
          display: inline-block;
          margin: -3px 0 0 0;
          color: $color-grey-dark;
        }
      }
    }
  }
}