form {
  font-size: 0;

  div.input {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    &.disabled {
      label, label > abbr {
        color: $color-light-darkest;
      }
    }
    label {
      text-transform: uppercase;
      color: $color-primary;
      font-size: 14px;
      font-weight: 400;
      abbr {
        border-bottom: none;
        color: $color-primary;
      }
    }
    textarea {
      height: 100px;
    }
    textarea, input, select {
      margin: 5px 0 0 0;
      padding: 10px;
      font-size: 14px;
      border-radius: 5px;
      color: $color-light-darkest;
      &.disabled {
        background: $color-light-dark;
      }
      &:focus {
        color: $color-primary;
      }
    }
    input.boolean {
      margin: 0;
    }
    span.checkbox {
      display: block;
      margin: 5px 0;
      input {
        display: inline-block;
        margin: 0;
      }
      label {
        display: inline-block;
        margin: 0 0 0 5px;
      }
    }
    &.field-options {
      display: none;
    }
  }

  span.error {
    display: block;
    margin: 15px 0 0 0;
    font-weight: 600;
    color: $color-danger;
  }

  div.half-row {
    margin: 0;
    font-size: 0;
    > div {
      margin-right: 2%;
      display: inline-block;
      width: 48%;
      vertical-align: top;
      & + div {
        margin-right: 0;
        margin-left: 2%;
      }
    }
  }

  section.tabbed {
    display: none;
    position: relative;
    &.active {
      display: block;
    }
    a.delete, a.dont-delete {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      font-size: 14px;
      line-height: 14px;
      color: $color-light;
      @include transition(none);
      &.dont-delete {
        color: $color-primary;
      }
    }
  }

  div.upload-field {
    margin: 10px 0;
    img {
      display: block;
      width: 200px;
    }
    a {
      clear: both;
      margin: 10px 0 0 0;
      @include rounded-button($color-grey, $color-grey-darker);
    }
  }

  h3 {
    margin: 20px 0 5px 0;
    font-size: 24px;
    font-weight: 400;
    color: $color-grey;
  }

  input[type=submit] {
    @include rounded-button($color-primary, $color-primary-lighter);
  }

  a.save, a.publish, a.draft, a.cancel, a.delete {
    @include button;
    &:before {
      content: '';
      margin-right: 0;
    }
  }
  a.delete {
    @include rounded-button($color-danger, $color-danger-dark);
    float: right;
  }
  a.cancel {
    float: right;
    @include rounded-button($color-grey, $color-grey-darker);
  }
}

section#page-content.page.form {
  border: 1px solid $color-light-darker;
  .form-tabs {
    background: $color-light-darker;
    margin: 0;
    padding: 13px 25px;
    ul {
      @include clear-list;
      li {
        display: inline-block;
        font-size: 16px;
        line-height: 16px;
        a {
          display: inline-block;
          margin: 0 20px 2px 0;
          color: $color-grey;
          font-size: inherit;
          line-height: inherit;
          font-weight: 400;
          &.active {
            font-weight: 600;
            color: $color-dark;
          }
        }
      }
    }
  }
  form {
    padding: 10px 25px;
  }
}
