#container > header {
  position: relative;
  height: 62px;
  z-index: 9;

  .site-title {
    position: relative;
    margin-left: $sidebar-width;
    h1 {
      display: inline-block;
      margin: 9px 0 0 50px;
      line-height: 18px;
      a {
        font-weight: 400;
        font-size: 18px;
        color: $color-light;
        i {
          font-size: 18px;
          margin: 0 10px 0 0;
          color: $color-light;
        }
      }
    }
    ul {
      display: none;
      @include clear-list;
      position: absolute;
      min-width: 200px;
      padding: 15px 0;
      top: 52px;
      left: 40px;
      background: $color-grey;
      &.active {
        display: block;
      }
      h2 {
        margin: 0 15px 5px 15px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 14px;
        color: $color-light;
      }
      li {
        a {
          display: block;
          padding: 10px 15px;
          background: $color-grey;
          color: $color-light;
          &:hover {
            background: $color-grey-darker;
          }
        }
      }
    }
  }

  .user {
    position: absolute;
    right: 35px;
    top: 9px;
    margin: 0 15px 0 0;
    .name {

      display: inline-block;
      margin: 5px 10px 0 0;
      color: $color-light;
      font-weight: 400;
    }
    > a {
      padding: 5px;
      &:hover {
        i {
          color: $color-light;
        }
      }
      i {
        color: rgba($color-light, 0.65);
      }
    }
    .user-menu {
      @include clear-list;
      display: none;
      width: auto;
      margin: 11px 0 0 0;
      padding: 5px 5px;
      background: $color-light-dark;
      border: 1px solid $color-light-darker;
      border-top: none;
      li {
        display: block;
        a {
          display: block;
          padding: 7.5px 5px;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}