#container > header {
  position: relative;
  height: 62px;
  z-index: 9;
  background: $color-primary;

  div.logo {
    display: inline-block;
    width: 250px;
    margin: 0;
    padding: 15px 15px;
    text-align: center;
    background: $color-1-dark;
    h1 {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: 32px;
      line-height: 32px;
      a {
        display: inline-block;
        vertical-align: top;
        color: $color-light;
        margin: 0;
        padding: 0;
        font-size: inherit;
        line-height: inherit;
        font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
      }
    }
  }

  .site-title {
    position: relative;
    display: inline-block;
    margin: 0 0 0 15px;
    h2 {
      display: inline-block;
      margin: 0;
      line-height: 18px;
      font-weight: 600;
      font-size: 18px;
      font-style: italic;
      a {
        display: inline-block;
        margin: 2px 0 0 0;
        font-weight: inherit;
        font-size: inherit;
        font-style: inherit;
        color: $color-light;
      }
    }
  }

  .user {
    position: absolute;
    right: 0;
    top: 9px;
    margin: 0 15px 0 0;
    .avatar-container {
      border-radius: 5px;
    }
    > a {
      padding: 5px;
      color: $color-light;
      &:active, &:focus {
        border: none;
        outline: none;
      }
      i {
        color: $color-light;
      }
    }
  }
}