section.images-container {

  .upload-control {
    margin: 0 0 15px 0;
    .upload-trigger {
      margin-left: 10px;
    }
  }

  article.image {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    img {
      width: 100%;
    }
    header {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 5px;
      text-align: right;
      background: rgba($color-primary, 0.9);
      &.select {
        text-align: center;
      }
      a {
        margin: 0 0 0 10px;
        color: rgba(white, 0.8);
        &:hover {
          color: white;
        }
        &:before {
          margin: 0;
          font-size: 16px;
        }
        &.select {
          display: block;
          font-size: 14px;
          font-weight: 400;
        }
      }
      form.image-croppings {
        display: none;
        height: 170px;
        overflow-y: scroll;
        padding: 5px;
        div.input {
          margin: 5px 0;
        }
        label {
          text-align: left;
          color: $color-light;
        }
        input[type=text] {
          padding: 5px;
          font-size: 13px;
          line-height: 13px;
        }
      }
    }
  }
}

section.cropper {
  img {
    // width: 200px;
  }
}
