aside.sidebar {
  nav {

    // ------------------------------- Left Icons

    &.left-icons {
      ul {
        li {
          a {
            font-size: 16px;
            line-height: 20px;
            color: $color-dark-lightest;
            &:before {
              margin-right: 8px;
              font-size: 14px;
              line-height: 14px;
            }
            &:after {
              content: none;
            }
          }
        }
      }
    }

    // ------------------------------- Default
    ul {
      float: none;
      li {
        display: block;
        a {
          display: block;
          position: relative;
          margin: 0;
          padding: 15px 15px;
          border-bottom: none;
          &:hover {
            background-color: $color-light-darker;
          }
          &:after {
            font-family: 'Icomoon-Ultimate';
            content: "\e3b1";
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -12px;
            color: $color-dark;
          }
          span {
            display: block;
            color: $color-dark;
            &.title {
              margin-bottom: 5px;
              font-size: 18px;
              line-height: 20px;
              font-weight: 600;
            }
            &.slug {
              color: darken($color-light-darkest, 15%);
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}
