aside#page-sidebar {

  h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: $color-dark-light;
    margin: 10px 0;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid $color-light-darker;
  }
  ul {
    @include clear-list;
    width: 100%;
    margin-top: 10px;
    li {
      position: relative;
      &.active {
        a {
          color: $color-light;
          background: $color-primary;
          &:hover {
            color: $color-light;
            background: $color-primary;
          }
        }
      }
      a {
        display: block;
        padding: 7px 10px;
        line-height: 23px;
        font-size: 13px;
        font-weight: 400;
        border-radius: 3px;
        @include transition-all;
        color: $color-dark-lightest;
        &:hover {
          background: $color-light-dark;
        }
      }
    }
  }
}