.sign-in {
  #container {
    #content {

      h2 {
        margin: 0 0 10px 0;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 400;
        color: $color-grey;
      }
      img {
        display: block;
        width: 200px;
        margin: 0 auto 15px auto;
        text-align: center;
      }
      form {
        input[type=submit] {
          display: block;
          width: 100%;
        }
      }
    }
  }
}