div.upload {
  width: 100%;
  padding-top: 10px;
  margin: 0 0 25px 0;

  .progress {
    margin-top: 8px;
    border: solid 1px $color-light-darker;
    .bar {
      height: 10px;
      background: $color-dark;
    }
  }
}

#fileupload {
  display: none;
  input {
    display: none;
  }
  .upload {
    display: block;
  }
}
