$sidebar-width: 250px;
$header-height: 62px;

body {
  #container {
    > header {
      @include clearfix;
      @include top-left(fixed);
      width: 100%;
      padding: 10px 0;
      background: $color-dark;
      z-index: 9999;
    }
    #sidebar {
      @include top-left(fixed);
      display: inline-block;
      // background: $color-primary;
      width: $sidebar-width;
      height: 100%;
      padding: $header-height 0 0 0;
    }
    #content {
      position: relative;
      margin: $header-height 0 0 $sidebar-width;
      padding: 25px 50px;
    }
  }
}

body.my-sites {
  #container {
    #content {
      max-width: 1000px;
      margin: $header-height 0 0 0;
    }
  }
}

body.sign-in {
  #container {
    #content {
      max-width: 400px;
      margin: 25px auto;
      padding: 25px;
      border: 1px solid $color-grey;
    }
  }
}
