.ajax-page.wysiwyg-editor {

  .ajax-page-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 0 0 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  form {
    position: absolute;
    top: 0;
    left: 0;
    padding: 90px 0 0 0;
    width: 100%;
    height: 100%;

    textarea {
      height: 100%;
      margin: 0;
      font-size: 14px;
    }
  }

  .wysihtml5-toolbar {
    position: relative;
    margin: 0;
    z-index: 999999;
    background: $color-light-dark;

    & > .group {
      display: inline-block;
      width: auto;
      margin: 0 25px 0 0;
      padding: 0;

      a {
        display: inline-block;
        margin: 0 -3px 0 0;
        padding: 10px;
        line-height: 20px;
        font-weight: 600;
        color: $color-dark;

        &:hover, &.wysihtml5-command-active, &.wysihtml5-command-dialog-opened {
          background: $color-1;
          color: $color-light;
          i {
            color: $color-light;
          }
        }
      }

      .dialog {
        position: absolute;
        width: 350px;
        padding: 10px 25px;
        background: $color-light-dark;
        border: 1px solid $color-light-darker;

        a:hover {
          cursor: pointer;
        }
      }

      &.right {
        float: right;
        margin: 0 0 0 25px;
        a {
          margin: 0;
        }
      }
    }

    &.wysihtml5-commands-disabled {

      .group {

        a {
          color: $color-light-darker;
          i {
            color: $color-light-darker;
          }
          &:hover {
            color: $color-light-darker;
            background: transparent;
            cursor: default;
            i {
              color: $color-light-darker;
            }
          }
          &.wysihtml5-action-active {
            background: $color-1;
            color: $color-light;
            i {
              color: $color-light;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
