<article class="user">
  <%= content_tag(
    :span,
    avatar(user, 64, "grey small #{'admin' if user.admin?}"),
    :class => 'status avatar'
  ) %>
  <div class="data">
    <div class="top">
      <%= content_tag(:h4, user.display_name, :class => 'title') %>
    </div>
    <div class="bottom"></div>
  </div>
  <div class="actions">
    <div class="top">
      <%= link_to(
        'Edit',
        builder_route([user], :edit),
        :class => 'edit'
      ) %>
    </div>
    <div class="bottom"></div>
  </div>
  <%#= content_tag(:div, :class => 'admin') {
    o = content_tag(:i, nil, :class => 'icon-user4')
    o+= content_tag(:span, 'Admin') } if site_admin?(user) %>
  <%#= avatar(user, 64, "grey small") %>
  <%#= content_tag(:h4, user.display_name) %>
    <%#= link_to('Delete', builder_route([user], :show), :method => :delete,
      :class => 'delete', :data => { :confirm => 'Are you sure?' } ) unless
      user == current_user%>
</article>
