<%= builder_page_title(
  current_resource_breadcrumbs,
  :class => 'breadcrumbs'
) do %>
  <%= content_tag(
    :div,
    link_to(
      'New Resource',
      builder_route([site_resource_types], :new),
      :class => 'new'
    ),
    :class => 'new-buttons dropdown'
  ) %>
<% end %>

<section id="page-content" class="data-container">
  <% if site_resource_types.size > 0 %>
    <%= data_table(site_resource_types, 'resource_type') %>
  <% else %>
    <%= missing_content("No resources yet! Perhaps you should create one.") %>
  <% end %>
</section>
