<div class="ajax-page <%= klass %> <%= id %>">
  <header>
    <h1 class="title"></h1>
    <a href="#" class="close">
      <i class="icon-cancel-circle"></i>
    </a>
  </header>
  <div class="ajax-page-content"></div>
</div>
