<%= builder_page_title(current_page_breadcrumbs, :class => 'breadcrumbs') do %>
  <%= new_root_page_links %>
<% end %>

<section id="page-content" class="full-width pages">
  <%= data_table(site_root_pages, 'page') %>
</section>
