<%= current_page_breadcrumbs %>

<%= builder_page_title("Pages") do %>
  <%= subtitle("These are the root pages for your site. You can create a 
  new root page, or drill down from here.") %>
<% end %>

<section id="page-content">
  <%= data_table(site_root_pages, 'page') %>
</section>
