<%= builder_page_title(
  current_page_breadcrumbs,
  :class => 'breadcrumbs no-border'
) do %>
  <%= new_page_children_links %>
  <%= render :partial => 'tabs' %>
<% end %>

<section class="page form" id="page-content">
  <%= render 'move_form' %>
</section>
