<aside id="sidebar">
  <div id="new-button-container">
    <%= link_to 'New', '#', :id => 'new-button',
                :class => 'new button-color-2' %>
    <ul>
      <li>
        <%= link_to('Page', new_site_editor_page_path(current_site)) %>
      </li>
    </ul>
  </div>
  <nav></nav>
</aside>

<!-- <%#= drilldown_nav do %>
  <%#= drilldown_nav_new('New Site', new_builder_site_path) if admin? %>
  <%# my_sites.each do |site| %>
    <li>
      <%#= link_to(builder_site_path(site)) do %>
        <%#= content_tag(:span, site.title, :class => 'title') %>
        <%#= content_tag(:span, site.slug, :class => 'slug') %>
      <%# end %>
    </li>
  <%# end %>
<%# end %>
 -->