<aside id="sidebar">
  <div id="new-button-container" class="dropdown">
    <%= link_to 'NEW', '#', :id => 'new-button',
                :class => 'new button-color-2 dropdown-trigger' %>
    <ul>
      <% all_templates.each do |t| %>
        <li>
          <%= link_to t.title,
                      new_site_editor_page_path(current_site, :t => t.name) %>
        </li>
      <% end %>
    </ul>
  </div>
  <nav></nav>
</aside>
