<article class="template-group">
  <div class="links">
    <%= link_to 'Edit', builder_route([current_template, group], :edit), 
      :class => 'edit' %>
  </div>
  <%= content_tag(:h3, group.title) %>
  <div class="group-fields">
    <%= render :partial => 'field', :collection => group.fields %>
  </div>
</article>
