.avatar-container {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid $color-light;
  &.grey {
    border-color: $color-light-darkest;
  }
  &.small {
    width: 32px;
    height: 32px;
  }
  img {
    width: 100%;
    background: $color-light;
  }
}

a {
  &.new, &.edit, &.back, &.delete, &.dont-delete, &.published, &.draft {
    &:before {
      font-family: 'icomoon';
      font-size: 10px;
      margin-right: 5px;
    }
    &.published { color: $color-1; }
    &.draft { color: $color-danger; }
  }
  &.new:before { content: "\e702"; }
  &.edit:before { content: "\e606"; }
  &.back:before { content: "\e726"; }
  &.delete:before { content: "\e6a7"; }
  &.dont-delete:before { content: "\e662"; }
  &.published:before { content: "\e6fb"; }
  &.draft:before { content: "\e6fa"; }

  &.button {
    @include rounded-button($color-1, $color-1-lighter);
    margin: 5px 0 10px 0;
  }
}
