.avatar-container {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid $color-light;
  &.grey {
    border-color: $color-light-darkest;
  }
  &.small {
    width: 32px;
    height: 32px;
  }
  img {
    width: 100%;
    background: $color-light;
  }
}

a {
  &.new {
    &:before {
      font-family: 'icomoon';
      content: "\e702";
      font-size: 12px;
      margin-right: 5px;
    }
  }
}
