@font-face {
    font-family: 'Open Sans';
    src: asset-url('OpenSans-Light-webfont.eot');
    src: asset-url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('OpenSans-Light-webfont.woff') format('woff'),
         asset-url('OpenSans-Light-webfont.ttf') format('truetype'),
         asset-url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: asset-url('OpenSans-LightItalic-webfont.eot');
    src: asset-url('OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('OpenSans-LightItalic-webfont.woff') format('woff'),
         asset-url('OpenSans-LightItalic-webfont.ttf') format('truetype'),
         asset-url('OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: asset-url('OpenSans-Regular-webfont.eot');
    src: asset-url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('OpenSans-Regular-webfont.woff') format('woff'),
         asset-url('OpenSans-Regular-webfont.ttf') format('truetype'),
         asset-url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: asset-url('OpenSans-Italic-webfont.eot');
    src: asset-url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('OpenSans-Italic-webfont.woff') format('woff'),
         asset-url('OpenSans-Italic-webfont.ttf') format('truetype'),
         asset-url('OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: asset-url('OpenSans-Bold-webfont.eot');
    src: asset-url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('OpenSans-Bold-webfont.woff') format('woff'),
         asset-url('OpenSans-Bold-webfont.ttf') format('truetype'),
         asset-url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: asset-url('OpenSans-BoldItalic-webfont.eot');
    src: asset-url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('OpenSans-BoldItalic-webfont.woff') format('woff'),
         asset-url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         asset-url('OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

