form {
  font-size: 0;

  div.input {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    label {
      text-transform: uppercase;
      color: $color-1;
      font-size: 14px;
      font-weight: 400;
      abbr {
        border-bottom: none;
        color: $color-1;
      }
    }
    textarea {
      height: 100px;
    }
    textarea, input, select {
      margin: 5px 0 0 0;
      padding: 10px;
      font-size: 14px;
      border-radius: 5px;
      color: $color-light-darkest;
      &:focus {
        color: $color-1;
      }
    }
  }

  div.half-row {
    margin: 0;
    font-size: 0;
    > div {
      display: inline-block;
      width: 48%;
      &:first-child {
        margin-right: 2%;
      }
      &:last-child {
        margin-left: 2%;
      }
    }
  }

  section.tabbed {
    display: none;
    &.active {
      display: block;
    }
  }

  ul.tabs {
    @include clear-list;
    margin: 20px 0 10px 0;
    border-bottom: 1px solid $color-light-darker;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 7.5px 15px;
        border-bottom: 3px solid transparent;
        color: $color-5;
        &:hover, &.active {
          border-bottom-color: $color-1;
        }
      }
    }
  }

  h3 {
    margin: 20px 0 5px 0;
    font-size: 24px;
    font-weight: 400;
    color: $color-5;
  }

  input[type=submit] {
    @include rounded-button($color-1, $color-1-lighter);
  }
}