form {
  // font-size: 0;

  div.input {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    &.disabled {
      label, label > abbr {
        color: $color-light-darkest;
      }
    }
    &.hidden {
      display: none;
    }
    label {
      text-transform: uppercase;
      color: $color-primary;
      font-size: 14px;
      font-weight: 400;
      abbr {
        border-bottom: none;
        color: $color-primary;
      }
    }
    textarea, input, select {
      margin: 5px 0 0 0;
      padding: 10px;
      font-size: 14px;
      color: $color-light-darkest;
      &.disabled {
        background: $color-light-dark;
      }
      &:focus {
        color: $color-primary;
      }
      &.editor {
        display: none;
      }
    }
    .trumbowyg-box {
      margin: 5px 0;
    }
    .trumbowyg-modal-box {
      height: 295px;
      form {
        input {
          height: auto;
          margin: 0 !important;
          padding: 5px 10px !important;
          font-size: 14px !important;
          color: $color-light-darkest !important;
          line-height: 25px !important;
          border: 1px solid $color-light-dark !important;
        }
        label {
          height: 42px;
          margin-bottom: 5px;
          .trumbowyg-input-infos span {
            font-size: 14px;
            border: none;
          }
        }
        .trumbowyg-modal-button {
          height: auto;
          line-height: 16px;
        }
      }
    }
//     input.boolean {
//       margin: 0;
//     }
//     span.checkbox {
//       display: block;
//       margin: 5px 0;
//       input {
//         display: inline-block;
//         margin: 0;
//       }
//       label {
//         display: inline-block;
//         margin: 0 0 0 5px;
//       }
//     }
//     &.field-options {
//       display: none;
//     }
//     // Markdown Text Editor
//     .CodeMirror pre {
//       font-family: Consolas, monospace;
//       font-size: 13px;
//       line-height: 18px;
//     }
//     .editor-toolbar {
//       margin-top: 5px;
//       border: 1px solid $color-light-darker;
//       border-bottom: none;
//       opacity: 1;
//       &:before, &:after {
//         background: none;
//       }
//       a {
//         opacity: 0.6;
//       }
//     }
//     .CodeMirror {
//       border: 1px solid $color-light-darker;
//     }
//     .CodeMirror-scroll {
//       padding: 15px 45px 45px 15px;
//     }
//     .editor-statusbar {
//       span {
//         font-size: 14px;
//         font-weight: 400;
//         text-transform: uppercase;
//       }
//     }
  }

//   span.error {
//     display: block;
//     margin: 15px 0 0 0;
//     font-weight: 600;
//     color: $color-danger;
//   }

//   div.half-row {
//     margin: 0;
//     font-size: 0;
//     > div {
//       margin-right: 2%;
//       display: inline-block;
//       width: 48%;
//       vertical-align: top;
//       & + div {
//         margin-right: 0;
//         margin-left: 2%;
//       }
//     }
//   }

//   section.tabbed {
//     display: none;
//     position: relative;
//     &.active {
//       display: block;
//     }
//     a.delete, a.dont-delete {
//       position: absolute;
//       top: 0;
//       right: 0;
//       margin: 0;
//       font-size: 14px;
//       line-height: 14px;
//       color: $color-light;
//       @include transition(none);
//       &.dont-delete {
//         color: $color-primary;
//       }
//     }
//   }

//   div.upload-field {
//     margin: 10px 0;
//     img {
//       display: block;
//       width: 200px;
//       margin: 0 0 10px 0;
//     }
//     a {
//       clear: both;
//       margin: 0;
//       @include button($color-grey, $color-grey-darker);
//       &.remove-file {
//         @include button($color-danger, $color-danger-darker);
//         margin-left: 5px;
//       }
//     }
//   }

//   h3 {
//     margin: 20px 0 5px 0;
//     font-size: 24px;
//     font-weight: 400;
//     color: $color-grey;
//   }

  input[type=submit] {
    @include btn($color-primary, $color-primary-lighter);
  }

//   a.save, a.publish, a.draft, a.cancel, a.delete {
//     @include button;
//     &:before {
//       content: '';
//       margin-right: 0;
//     }
//   }
//   a.delete {
//     @include button($color-danger, $color-danger-dark);
//     float: right;
//   }
//   a.cancel {
//     float: right;
//     @include button($color-grey, $color-grey-darker);
//   }
}

// section#page-content.page.form {
//   border: 1px solid $color-light-darker;
//   .form-tabs {
//     background: $color-light-darker;
//     margin: 0;
//     padding: 13px 25px;
//     ul {
//       @include clear-list;
//       li {
//         display: inline-block;
//         font-size: 16px;
//         line-height: 16px;
//         a {
//           display: inline-block;
//           margin: 0 20px 2px 0;
//           color: $color-grey;
//           font-size: inherit;
//           line-height: inherit;
//           font-weight: 400;
//           &.active {
//             font-weight: 600;
//             color: $color-dark;
//           }
//         }
//       }
//     }
//   }
//   form {
//     padding: 10px 25px;
//   }
// }
