#container > header {
  position: relative;
  height: 62px;
  z-index: 9;

  .site-title {
    position: relative;
    margin-left: $sidebar-width;
    h1 {
      display: inline-block;
      margin: 9px 0 0 50px;
      line-height: 18px;
      a {
        font-weight: 400;
        font-size: 18px;
        color: $color-light;
        i {
          font-size: 18px;
          margin: 0 10px 0 0;
          color: $color-light;
        }
      }
    }
    ul {
      @include clear-list;
      position: absolute;
      top: 50px;
      left: 40px;
      display: none;
      &.active {
        display: block;
      }
      li {
        a {
          padding: 10px 20px;
          background: $color-2;
          color: $color-light;
          &:hover {
            background: $color-3;
          }
        }
      }
    }
  }

  .user {
    position: absolute;
    right: 35px;
    top: 9px;
    margin: 0 15px 0 0;
    .name {
      vertical-align: middle;
      margin: 0 15px;
      color: $color-light;
      font-weight: 400;
    }
    > a {
      padding: 5px;
      &:hover {
        i {
          color: $color-light;
        }
      }
      i {
        color: rgba($color-light, 0.65);
      }
    }
  }
}