.tk-label {
  display: inline-block;
  padding: 3px 10px 5px 10px;
  background: $color-light-darkest;
  color: $color-light;
  border-radius: 5px;
  &.draft {
    background: $color-danger;
  }
  &.published {
    background: $color-success;
  }
  span, strong, i {
    color: inherit;
    font-size: 13px;
    line-height: 13px;
    display: inline-block;
    vertical-align: middle;
  }
}
