aside#sidebar {

  ul {
    @include clear-list;
    li {
      a {
        display: block;
        padding: 10px 25px;
        @include transition-all;
        &:hover {
          background: $color-1-light;
        }
        span, i {
          line-height: 23px;
          font-size: 20px;
          vertical-align: middle;
          @include transition-all;
          color: $color-2;
        }
        span {
          margin: 0 10px 0 15px;
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
  }
}