$sidebar-width: 200px;

body {
  #container {
    > header {
      @include clearfix;
      @include top-left(fixed);
      width: 100%;
      padding: 10px 0;
      background: $color-2;
    }
    #sidebar {
      @include top-left(fixed);
      display: inline-block;
      background: $color-1;
      width: $sidebar-width;
      height: 100%;
    }
    #content {
      position: relative;
      margin: 62px 0 0 $sidebar-width;
      padding: 25px 50px;
    }
  }
}
