<%= builder_page_title(
  current_form_breadcrumbs,
  :class => 'breadcrumbs no-border'
) do %>
  <%= render :partial => 'builder/forms/tabs' %>
<% end %>

<section class="form-submission" id="page-content">
  <dl>
    <% current_form_submission.field_data.each do |k,v| %>
      <%= content_tag(:dt, k.humanize.titleize) %>
      <%= content_tag(:dd, v) %>
    <% end %>
  </dl>
</section>
