<ul>
  <h3>Page Types</h3>
  <% site_page_types.each do |page_type| %>
    <%= content_tag(
      :li,
      link_to(page_type.title.titleize, builder_route([page_type], :edit)),
      :class => (
        request.path == builder_route([page_type], :edit)
      ) ? 'active' : nil
    ) %>
  <% end %>
</ul>
