<%= page_title(@page_type.title) do %>
  <%= link_to 'New Page', routes([@page_type, @pages])[:new], :class => 'new' %>
  <%= link_to "Edit #{@page_type.title}", routes([@page_type])[:edit], :class => 'edit' %>
<% end %>

<section class="data-table pages">
  <%= data_table(['title']) { render :partial => 'page', :collection => @pages } %>
</section>
