@mixin btn($bkg: $color-primary, $hover: $bkg) {
  background: $bkg;
  color: $color-light;
  border: none;
  @include transition-all;
  &:hover, &:active, &:focus {
    color: $color-light;
    background: $hover;
    border: none;
    outline: none;
  }
}

p.notice, p.alert {
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba($color-primary, 0.85);
  margin: 0;
  padding: 25px;
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 30px;
  z-index: 99999;
}

p.warning {
  color: $color-light;
  border-radius: 3px;
  em, strong, a {
    display: inline-block;
    margin-top: -3px;
    color: $color-light;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
  a {
    font-weight: 600;
  }
}

p.alert {
  background: rgba($color-danger, 0.85);
}

p.note {
  margin-top: 0;
}

// p.subtitle {
//   max-width: 600px;
//   margin: 10px 0 10px 0;
//   font-size: 15px;
//   line-height: 20px;
//   color: $color-dark-light;
//   font-style: italic;
// }

.avatar-container {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid $color-light;
  &.grey {
    border-color: $color-light-darkest;
  }
  &.small {
    width: 32px;
    height: 32px;
  }
  &.admin {
    position: relative;
    &:after {
      display: inline-block;
      position: absolute;
      left: -8px;
      top: -8px;
      width: 18px;
      height: 18px;
      padding: 2px;
      z-index: 99;
      text-align: center;
      font-family: 'Icomoon-Ultimate';
      font-size: 11px;
      content: "\e301";
      color: white;
      background: $color-secondary;
      border-radius: 100%;
    }
  }
  img {
    width: 100%;
    background: $color-light;
  }
}

a {
  &.new, &.edit, &.back, &.delete, &.dont-delete, &.published, &.draft, &.crop,
  &.download, &.code, &.database, &.link, &.build, &.preview, &.publish,
  &.unpublish, &.template, &.all, &.help, &.pages, &.maxed-out, &.not-maxed,
  &.unlimited, &.form, &.data-trigger, &.reorder, &.protected, &.unprotected,
  &.hidden, &.hide, &.visible, &.show, &.half-width, &.media, &.move, &.admin,
  &.user, &.star, &.view, &.not-complete, &.complete, &.menu, &.image,
  &.settings {
    &:before {
      font-family: 'Icomoon-Ultimate';
      font-size: 10px;
      margin-right: 5px;
    }
    &.published, &.unlimited, &.complete {
      color: $color-success;
    }
    &.not-maxed, &.protected {
      color: $color-warning;
    }
    &.draft, &.maxed-out, &.not-complete {
      color: $color-danger;
    }
  }
  &.dropdown-trigger {
    &:after {
      font-family: 'Icomoon-Ultimate';
      font-size: 10px;
      margin-left: 5px;
    }
  }
  &.admin:before          { content: "\e18c"; }
  &.all:before            { content: "\e0f9"; }
  &.back:before           { content: "\e3b3"; }
  &.build:before          { content: "\e1e8"; }
  &.code:before           { content: "\e480"; }
  &.crop:before           { content: "\e43c"; }
  &.data-trigger:before   { content: "\e3b2"; }
  &.database:before       { content: "\e13a"; }
  &.delete:before         { content: "\e24f"; }
  &.dont-delete:before    { content: "\e13b"; }
  &.download:before       { content: "\e132"; }
  &.draft:before          { content: "\e357"; }
  &.edit:before           { content: "\e00f"; }
  &.form:before           { content: "\e013"; }
  &.half-width:before     { content: "\e43f"; }
  &.help:before           { content: "\e359"; }
  &.hidden:before         { content: "\e2da"; }
  &.hide:before           { content: "\e2da"; }
  &.image:before          { content: "\e02b"; }
  &.link:before           { content: "\e2c9"; }
  &.media:before          { content: "\e02b"; }
  &.menu:before           { content: "\e2aa"; }
  &.move:before           { content: "\e352"; }
  &.new:before            { content: "\e35e"; }
  &.pages:before          { content: "\e079"; }
  &.preview:before        { content: "\e2d9"; }
  &.protected:before      { content: "\e1d0"; }
  &.publish:before,
  &.complete:before,
  &.not-maxed:before      { content: "\e367"; }
  &.published:before      { content: "\e367"; }
  &.reorder:before        { content: "\e425"; }
  &.settings:before       { content: "\e1df"; }
  &.show:before           { content: "\e2d9"; }
  &.star:before           { content: "\e2fc"; }
  &.template:before       { content: "\e097"; }
  &.unlimited:before      { content: "\e439"; }
  &.unprotected:before    { content: "\e1d4"; }
  &.unpublish:before,
  &.not-complete:before,
  &.maxed-out:before      { content: "\e357"; }
  &.user:before           { content: "\e185"; }
  &.view:before           { content: "\e2d9"; }
  &.visible:before        { content: "\e2d9"; }

  &.dropdown-trigger:after { content: "\e3b2"; }

  &.button {
    @include btn($color-primary, $color-primary-lighter);
    margin: 5px 0 10px 0;
    &.markdown, &.wysiwyg {
      margin: 10px 10px 5px 0;
      background: transparent;
      border: 1px solid $color-1;
      color: $color-1;
    }
  }
  &.button-color-2 {
    @include btn($color-2, $color-2-lighter);
  }
}


.ajax-page {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  overflow-y: scroll;
  background: white;
  @include transition(top 0.25s ease-in-out);
  &.active {
    top: 0;
  }

  header {
    width: 100%;
    background: $color-primary;
    h1 {
      margin: 0;
      padding: 10px;
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: white;
    }
    a.close {
      position: absolute;
      top: 13px;
      right: 13px;
      z-index: 9999;
      i {
        color: white;
        font-size: 24px;
      }
    }
  }
  .ajax-page-content {
    padding: 25px;
  }
}

// ul.tabs, ul.list-tabs {
//   @include clear-list;
//   display: inline-block;
//   margin: 10px 0 15px 0;
//   border-radius: 3px;
//   border: 1px solid $color-light-darker;
//   overflow: hidden;
//   li {
//     display: inline-block;
//     &:last-child a {
//       border: none;
//     }
//     a {
//       display: inline-block;
//       padding: 7.5px 15px;
//       border-right: 1px solid $color-light-darker;
//       color: $color-grey;
//       &.active {
//         background: $color-primary;
//         color: $color-light;
//       }
//       &:hover {
//         background: $color-light-dark;
//         &.active {
//           background: $color-primary;
//         }
//         &.to-delete {
//           background: $color-danger;
//         }
//       }
//       &.to-delete {
//         color: $color-light;
//         background: $color-danger;
//       }
//     }
//   }
// }

// span.page-status {
//   display: inline-block;
//   margin: 5px 0 0 0;
//   &.draft {
//     span {
//       color: $color-danger;
//     }
//     i {
//       color: $color-danger;
//     }
//   }
//   span {
//     color: $color-success;
//     font-size: 13px;
//     font-weight: 400;
//     text-transform: none;
//   }
//   i {
//     display: inline-block;
//     margin-top: 2px;
//     color: $color-success;
//     font-size: 11px;
//     margin-right: 3px;
//   }
// }

div.dropdown {
  position: relative;
  > a {
    @include button;
    margin: 0;
    &:focus {
      background: $color-primary;
    }
    &:hover, &.active {
      background: $color-primary-dark;
    }
  }
  ul {
    display: none;
    position: absolute;
    top: 30px;
    min-width: 100%;
    @include clear-list;
    background: #ffffff;
    border: 1px solid $color-grey-lightest;
    z-index: 999;
    &.active {
      display: block;
    }
    li {
      text-align: left;
      overflow: hidden;
      &.h1 {
        margin: 10px 15px 5px 15px;
        font-size: 16px;
        font-weight: 600;
      }
      a {
        display: block;
        font-size: 14px;
        padding: 10px 15px;
        color: $color-grey-dark;
        @include transition(background 0.25s linear);
        &:hover {
          color: $color-grey-dark;
          background: $color-light;
        }
      }
    }
  }
}

// .missing-content {
//   text-align: center;
//   font-size: 20px;
//   color: $color-grey;
//   font-weight: 400;
//   font-style: italic;
// }

// nav.tabs {
//   margin: 10px 0 0 0;
//   padding: 0;
//   ul {
//     @include clear-list;
//     display: block;
//     width: 100%;
//     border-bottom: 1px solid $color-grey-lighter;
//     li {
//       a {
//         margin: 0 5px -1px 5px;
//         padding: 10px 10px;
//         font-size: 16px;
//         font-weight: 200;
//         line-height: 16px;
//         border: 1px solid $color-grey-lighter;
//         border-top-left-radius: 3px;
//         border-top-right-radius: 3px;
//         color: $color-grey-dark;
//         z-index: -9;
//         &:before {
//           font-size: 12px;
//         }
//         &:hover {
//           color: $color-grey-dark;
//           background: $color-light-dark;
//         }
//         &.active {
//           z-index: 9;
//           border-bottom-color: white;
//           color: $color-dark;
//           background: transparent;
//           font-weight: 600;
//         }
//       }
//     }
//   }
// }
