#container > header {
  position: relative;
  padding: 10px;
  z-index: 9;
  background-color: $color-light-dark;

  > div {
    display: inline-block;
  }

  div.logo {
//     width: 250px;
//     margin: 0;
//     padding: 15px 15px;
//     text-align: center;
//     background: $color-1-dark;
    h1 {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: 32px;
      line-height: 32px;
      a {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
        font-size: inherit;
        line-height: inherit;
        font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
      }
    }
  }

  div.site-toggle {
    &.dropdown {
      > a {
        &:after {
          content: "\e3b2";
        }
      }
    }
    > a {
      &:after {
        content: none;
      }
    }
  }

//   .site-title {
//     position: relative;
//     display: inline-block;
//     margin: 0 0 0 15px;
//     h2 {
//       display: inline-block;
//       margin: 0;
//       line-height: 18px;
//       font-weight: 600;
//       font-size: 18px;
//       font-style: italic;
//       a {
//         display: inline-block;
//         margin: 2px 0 0 0;
//         font-weight: inherit;
//         font-size: inherit;
//         font-style: inherit;
//         color: $color-light;
//         &.site-nav-trigger {
//           display: inline-block;
//           margin-left: 8px;
//           font-style: normal;
//         }
//       }
//     }
//     .site-nav {
//       display: none;
//       position: absolute;
//       top: 43px;
//       left: -19px;
//       min-width: 200px;
//       background: $color-light-dark;
//       &.active {
//         display: block;
//       }
//       ul {
//         @include clear-list;
//         li {
//           display: block;
//           a {
//             display: block;
//             padding: 8px 20px;
//             line-height: 1.25em;
//             @include transition-all;
//             color: $color-dark;
//             &:hover {
//               background: $color-light-darker;
//             }
//             &:before {
//               font-size: 14px;
//               margin-right: 5px;
//             }
//           }
//         }
//       }
//     }
//   }

//   .user {
//     position: absolute;
//     right: 0;
//     top: 9px;
//     margin: 0 15px 0 0;
//     div.page-search-container {
//       display: inline-block;
//       margin: 5px 15px 0 0;
//       vertical-align: top;
//       form {
//         display: block;
//         width: auto;
//         margin: 0;
//         div.input {
//           margin: 0;
//           input {
//             width: 250px;
//             margin: 0;
//             padding: 7px 5px;
//             border: none;
//             outline: none;
//           }
//         }
//       }
//     }
//     .avatar-container {
//       border-radius: 5px;
//     }
//     > a {
//       padding: 5px;
//       color: $color-light;
//       &:active, &:focus {
//         border: none;
//         outline: none;
//       }
//       i {
//         color: $color-light;
//       }
//     }
//   }
}