@font-face {
  font-family: 'Topkit';
  src:asset-url('Topkit.eot?vyprvc');
  src:asset-url('Topkit.eot?#iefixvyprvc') format('embedded-opentype'),
      asset-url('Topkit.ttf?vyprvc') format('truetype'),
      asset-url('Topkit.woff?vyprvc') format('woff'),
      asset-url('Topkit.svg?vyprvc#Topkit') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icon-edit: "\e913";
$icon-draft: "\e914";
$icon-image: "\e93c";
$icon-media: "\e93e";
$icon-page: "\e99d";
$icon-pages: "\e99f";
$icon-save: "\ea89";
$icon-user: "\eaf4";
$icon-settings: "\eb5c";
$icon-delete: "\ebfb";
$icon-form: "\ec4f";
$icon-nest: "\ec62";
$icon-menu: "\ec69";
$icon-link: "\ec98";
$icon-close: "\ed69";
$icon-checkmark: "\ed6c";
$icon-checkmark-outline: "\ed6d";
$icon-sign-out: "\ed74";
$icon-reorder: "\edac";
$icon-up: "\edb4";
$icon-up-thin: "\edb7";
$icon-right: "\edb8";
$icon-right-thin: "\edbb";
$icon-down: "\edbc";
$icon-down-thin: "\edbf";
$icon-left: "\edc0";
$icon-left-thin: "\edc3";

@mixin icon($content: null) {
  font-family: 'Topkit';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Custom Styles
  @if $content != null {
    content: $content;
  }

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin icon-before($content) {
  &:before {
    margin-left: 5px;
    font-size: 10px;
    @include icon($content);
  }
}
@mixin icon-after($content) {
  &:after {
    margin-left: 5px;
    font-size: 10px;
    @include icon($content);
  }
}

.icon, [class^="icon-"], [class*=" icon-"] {
  @include icon;
}

.icon-edit:before { content: $icon-edit; }
.icon-draft:before, .icon-unpublish:before { content: $icon-draft; }
.icon-image:before { content: $icon-image; }
.icon-media:before { content: $icon-media; }
.icon-page:before { content: $icon-page; }
.icon-pages:before { content: $icon-pages; }
.icon-save:before { content: $icon-save; }
.icon-user:before { content: $icon-user; }
.icon-settings:before { content: $icon-settings; }
.icon-delete:before { content: $icon-delete; }
.icon-form:before { content: $icon-form; }
.icon-nest:before { content: $icon-nest; }
.icon-menu:before { content: $icon-menu; }
.icon-link:before { content: $icon-link; }
.icon-checkmark:before, .icon-publish:before { content: $icon-checkmark; }
.icon-checkmark-outline:before { content: $icon-checkmark-outline; }
.icon-close:before { content: $icon-close; }
.icon-sign-out:before { content: $icon-sign-out; }
.icon-reorder:before { content: $icon-reorder; }
.icon-up:before { content: $icon-up; }
.icon-up-thin:before { content: $icon-up-thin; }
.icon-right:before { content: $icon-right; }
.icon-right-thin:before { content: $icon-right-thin; }
.icon-down:before { content: $icon-down; }
.icon-down-thin:before { content: $icon-down-thin; }
.icon-left:before { content: $icon-left; }
.icon-left-thin:before { content: $icon-left-thin; }
