@font-face {
  font-family: 'Topkit';
  src:asset-url('Topkit.eot?vyprvc');
  src:asset-url('Topkit.eot?#iefixvyprvc') format('embedded-opentype'),
      asset-url('Topkit.ttf?vyprvc') format('truetype'),
      asset-url('Topkit.woff?vyprvc') format('woff'),
      asset-url('Topkit.svg?vyprvc#Topkit') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icon-edit: "\e913";
$icon-draft: "\e914";
$icon-image: "\e93c";
$icon-media: "\e93e";
$icon-page: "\e99d";
$icon-pages: "\e99f";
$icon-save: "\ea89";
$icon-user: "\eaf4";
$icon-settings: "\eb5c";
$icon-delete: "\ebfb";
$icon-form: "\ec4f";
$icon-menu: "\ec69";
$icon-link: "\ec98";
$icon-close: "\ed69";
$icon-checkmark: "\ed6c";
$icon-checkmark-outline: "\ed6d";
$icon-sign-out: "\ed74";
$icon-up: "\edb4";
$icon-up-thin: "\edb7";
$icon-right: "\edb8";
$icon-right-thin: "\edbb";
$icon-down: "\edbc";
$icon-down-thin: "\edbf";
$icon-left: "\edc0";
$icon-left-thin: "\edc3";

@mixin icon($content: null) {
  font-family: 'Topkit';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Custom Styles
  @if $content != null {
    content: $content;
  }

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin icon-before($content) {
  &:before {
    margin-left: 5px;
    font-size: 10px;
    @include icon($content);
  }
}
@mixin icon-after($content) {
  &:after {
    margin-left: 5px;
    font-size: 10px;
    @include icon($content);
  }
}

.icon, [class^="icon-"], [class*=" icon-"] {
  @include icon;
}

.icon-edit:before {
  content: "\e913";
}
.icon-draft:before, .icon-unpublish:before {
  content: "\e914";
}
.icon-image:before {
  content: "\e93c";
}
.icon-media:before {
  content: "\e93e";
}
.icon-page:before {
  content: "\e99d";
}
.icon-pages:before {
  content: "\e99f";
}
.icon-save:before {
  content: "\ea89";
}
.icon-user:before {
  content: "\eaf4";
}
.icon-settings:before {
  content: "\eb5c";
}
.icon-delete:before {
  content: "\ebfb";
}
.icon-form:before {
  content: "\ec4f";
}
.icon-menu:before {
  content: "\ec69";
}
.icon-link:before {
  content: "\ec98";
}
.icon-checkmark:before, .icon-publish:before {
  content: "\ed6c";
}
.icon-checkmark-outline:before {
  content: "\ed6d";
}
.icon-close:before {
  content: "\ed69";
}
.icon-sign-out:before {
  content: "\ed74";
}
.icon-up:before {
  content: "\edb4";
}
.icon-up-thin:before {
  content: "\edb7";
}
.icon-right:before {
  content: "\edb8";
}
.icon-right-thin:before {
  content: "\edbb";
}
.icon-down:before {
  content: "\edbc";
}
.icon-down-thin:before {
  content: "\edbf";
}
.icon-left:before {
  content: "\edc0";
}
.icon-left-thin:before {
  content: "\edc3";
}
