aside#sidebar {
  background: $color-light-dark;

  #new-button-container {
    #new-button {
      margin: 0 0 0 40px;
      padding: 10px 50px;
      font-size: 13px;
      line-height: 13px;
      text-transform: uppercase;
      border: 1px solid $color-2;
      outline: 1px solid $color-2;
      background: $color-2;
      @include transition(none);
      &:hover {
        background: $color-2;
      }
      &:before, &:after {
        content: none;
      }
      &.active {
        border: 1px solid $color-light;
      }
    }
    ul {
      left: 38px;
    }
  }

  > nav {
    margin-top: 15px;
    > ul {
      float: none;
      > li {
        display: block;
        &.active {
          > a, a:hover {
            border-left-color: $color-secondary;
            color: $color-secondary;
            background: transparent;
          }
        }
        > a {
          display: block;
          margin: 0;
          padding: 15px 15px 15px 34px;
          border-bottom: none;
          font-size: 16px;
          line-height: 16px;
          font-weight: 600;
          border-left: 3px solid transparent;
          color: $color-dark-lightest;
          &:hover {
            border-left-color: $color-dark-lightest;
            background: $color-light;
          }
          &.pages { @include icon-before($icon-pages); }
          &.drafts { @include icon-before($icon-draft); }
          &:before {
            display: inline-block !important;
            font-size: 14px !important;
            line-height: 16px !important;
            margin-right: 7px !important;
          }
          &#pages-subnav-trigger {
            display: inline-block;
            float: left;
            padding: 0;
            margin: 14px 5px 15px 15px;
            border: none;
            color: $color-dark-lighter;
            @include transition(none);
            &.active {
              @include transform(rotate(90deg));
            }
            & + a {
              padding-left: 15px;
            }
            i {
              color: inherit;
              font-size: 14px;
              line-height: 16px;
            }
          }
        }
        ul {
          display: none;
          width: 100%;
          margin: 0 0 0 20px;
          float: none;
          &.pages {
            margin: 3px 5px 0 15px;
          }
          &.active {
            display: block;
          }
          li {
            display: block;
            a {
              display: inline-block;
              margin-left: 29px;
              border-bottom: none;
              font-size: 14px;
              line-height: 14px;
              color: $color-dark-light;
              &.active {
                font-weight: 600;
                color: $color-secondary;
              }
              &.pages-inlist-trigger {
                padding: 0;
                margin: 0 5px 0 10px;
                border: none;
                color: $color-dark-lighter;
                @include transition(none);
                & + a {
                  margin-left: 0;
                }
                &.active {
                  @include transform(rotate(90deg));
                }
                &:hover {
                  color: $color-dark;
                }
                i {
                  color: inherit;
                  font-size: 14px;
                  line-height: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
