body {
  #container {
    min-height: 100%;
    > header {
      position: relative;
      z-index: 999;
    }
    #content-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 52px 0 0 250px;
      main#content {
        position: relative;
        min-height: 100%;
        border: 1px solid $color-light-darker;
        border-right: none;
        border-bottom: none;
        section.page-content {
          position: relative;
          z-index: 99;
        }
      }
    }
    aside#sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 250px;
      height: 100%;
      padding-top: 62px;
      z-index: 99;
    }
  }
}

body.sign-in {
  #container {
    #content {
      max-width: 400px;
      margin: 25px auto;
      padding: 25px;
      border: 1px solid $color-grey;
    }
  }
}
