$color-primary: #00ade2;
$color-secondary: #DF6226;
$color-dark: #333333;
$color-grey: #999999;
$color-light: #EFEFEF;

body.error {
  padding-bottom: 100px;
  > header {
    position: relative;
    background: $color-primary;
    padding: 50px;
    text-align: center;
    h1 {
      color: $color-light;
      font-size: 52px;
      line-height: 62px;
      font-weight: 600;
    }
    p {
      color: $color-light;
      font-size: 24px;
      line-height: 32px;
      font-weight: 200;
    }
  }
  div.search-results {
    display: block;
    position: relative;
    margin: 25px 0;
    text-align: center;
    .button.home {
      display: block;
      max-width: 400px;
      margin: 0 auto !important;
      background: $color-secondary;
      padding: 15px 25px;
      font-size: 24px;
      line-height: 24px;
    }
    p {
      margin-bottom: 25px;
    }
    .result {
      margin: 15px 0;
    }
  }
}
