<div id="ajax-page">
  <header>
    <h1 class="title"></h1>
    <%= link_to('#', :class => 'close') { 
      content_tag(:i, nil, :class => 'icon-cancel') } %>
  </header>
  <div class="ajax-page-content"></div>
</div>
