<!DOCTYPE html>
<html class="public">
  <%= partial 'head', :locals => { :css_path => 'editor/application' } %>
  <body class="sign-in">

    <%= partial 'status' %>

    <div id="container">
      <%= content_tag(:div, yield, :id => 'content') %>
    </div>

    <%= javascript_include_tag 'editor/application' %>
  </body>
</html>
