<header class="page-header">
  <h1>New Page</h1>
</header>
<%#= builder_page_title(current_page_breadcrumbs, :class => 'breadcrumbs') do %>
  <%#= page_search_field %>
<%# end %>

<div id="page-content" class="full-width">

  <%#= em_p("First, fill in all the required fields, then you can move on to
  the optional ones.") %>

  <%#= simple_form_for [:builder, current_site, current_page] do |f| %>

    <%#= f.simple_fields_for :field_data, OpenStruct.new(f.object.field_data) do |fd| %>
      <%# current_template.fields.each do |field| %>
        <%# if ['title'].include?(field.slug) %>
          <%#= f.input(
            field.slug.to_sym,
            :label => field.label,
            :input_html => { :value => field.default_value }
          ) %>
        <%# elsif ['slug','position','description','show_in_nav']
          .include?(field.slug) && field.required? %>
          <%#= f.input field.slug.to_sym, :label => field.label %>
        <%# elsif field.slug == 'body' && field.required? %>
          <%#= f.input(
            :body_md,
            :label => field.label,
            :input_html => {
              :value => current_page.body_md || field.default_value
            },
            :wrapper_html => {
              :class => 'markdown-editor'
            }
          ) %>
        <%# elsif field.required? %>
          <%# case field.data_type %>
          <%# when 'date' %>
            <%#= fd.input(
              :"#{field.slug}",
              :as => :string,
              :required => field.required,
              :label => field.title,
              :input_html => {
                :class => 'date-js',
                :value => current_page.field_data[field.slug.to_sym]
              }
            ) %>
          <%# when 'markdown' %>
            <%#= fd.input(
              :"markdown_#{field.slug}",
              :as => :text,
              :label => field.label,
              :required => false,
              :input_html => {
                :value => current_page.send("markdown_#{field.slug}") || field.default_value
              },
              :wrapper_html => {
                :class => 'markdown-editor'
              }
            ) %>
          <%# when 'select' %>
            <%#= fd.input(
              :"#{field.slug}",
              :as => :"#{field.data_type}",
              :collection => field.option_values,
              :required => field.required,
              :label => field.title,
              :selected => current_page.field_data[field.slug] ||
                field.default_value,
            ) %>
          <%# when 'check_boxes', 'radio_buttons' %>
            <%#= fd.input(
              :"#{field.slug}",
              :as => :"#{field.data_type}",
              :collection => field.option_values,
              :required => field.required,
              :label => field.title,
              :checked => current_page.field_data[field.slug] ||
                field.default_value
            ) %>
          <%# when 'image', 'file' %>
            <div class="upload-field">
              <%#= fd.input(
                :"rtfile_#{field.slug}",
                :as => :hidden,
                :required => field.required,
                :label => field.title,
                :input_html => {
                  :value => current_page.field_data[field.slug]
                }
              ) %>
              <%#= image_tag(
                find_page_thumb(current_page.field_data[field.slug])
              ) unless current_page.field_data[field.slug].blank? %>
              <%#= link_to(
                "Add New #{field.title}",
                builder_site_documents_path(current_site, :select => true),
                :class => 'image-upload-trigger button'
              ) %>
            </div>
          <%# else %>
            <%#= fd.input(
              :"#{field.slug}",
              :as => :"#{field.data_type}",
              :required => field.required,
              :label => field.title,
              :input_html => {
                :value => current_page.field_data[field.slug.to_sym] ||
                  field.default_value
              }
            ) %>
          <%# end %>
        <%# end %>
      <%# end %>
    <%# end %>

    <%#= redirect_field(f) %>

    <%#= f.input :template_id, :as => :hidden, :wrapper => false,
      :input_html => { :value => current_template.id } %>
    <%#= f.input :parent_id, :as => :hidden, :wrapper => false, :input_html => {
      :value => current_page_parent.id } unless current_page_parent.nil? %>

    <%#= f.submit "Save Page" %>

  <%# end %>


</div>
